[Unit]
Description=Ninja-dev-sync user daemon

[Service]
User=%i
Type=simple
ExecStart=/usr/local/bin/ninja-dev-sync

[Install]
WantedBy=graphical.target
